ul, ol,li{
    margin: 0;
    padding: 0;
    list-style-type: none
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

button{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.hero{
    padding: 0;
    margin: 0;
}
