:root {
  --blue-color:#2196f3;
  --title-color:#212121;
  --text-color:#757575;
  --hero-title:#ffffff;
}

body{
  font-family: "Roboto";
  max-width: 1600px;
}

.header-logo {
  color: var(--blue-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Raleway";
display: flex;
align-items: baseline;
flex-wrap: wrap;
align-content: center;

}

.header-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link1 {
  color: var(--title-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  justify-content: flex-end;

}

.header-link1:hover {
  color: #2196f3;
}

.header-contacts{
display: flex;
gap: 40px;
margin-left: 345px;
flex-wrap: wrap;
align-content: center;
}

.header-logo-span1{
  color: #ffffff;
}

.header-contact1 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-contact1:hover {
  color: #2196f3;
}

.header-logo-span{
  color: #212121;
}

.header-pages{
  display: flex;
  align-items: baseline;
  gap: 50px;
margin-left: 93px;

}

.header-container {
  display: flex;
}

.main-pages{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.main-section {
  padding-bottom: 50px;
  padding-top: 126px;
}

.main-info {
display: flex;
flex-wrap: wrap;
 gap: 30px;
 justify-content: center;
  }

  .main-button {
    width: 125px;
    height: 38px;
    border-radius: 4px;
    background: #f5f4fa;
  }

  .main-button:hover {
    background-color: #2196f3;
  }


.hero {
  background-color: #2f303a;
height: 600px;
display: flex;
justify-content: center;
padding-bottom: 94px;
padding-top: 200px;
}

.hero-title {
  width: 696px;
  color: var(--hero-title);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: flex; 
  max-width: 698px;
  text-align: center;
}

.hero-button {  
  color: var(--hero-title);
  width: 216px;
  height: 50px;
  border-radius: 6px;
  background: var(--blue-color);
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
display: flex;
align-items: center;
justify-content: center;
}

.info-list1 {
  display: flex;
  gap: 20px;
}

.info-text {
  width: 270px;
  height: 72px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  align-items: baseline;
  display: flex;
}

.info-img {
  height: 294px;
}

.info-title1 {
  color: var(--title-color);
  font-weight: 700;
  line-height: 36px; 
  letter-spacing: 1.08px;
  padding-top: 20px;
font-size: 18px;
padding-left: 24px;
text-align: left;
}

.info-title {
  color: var(--title-color);
  font-weight: 700;
  line-height: 36px; 
  letter-spacing: 1.08px;
  padding-top: 20px;
  font-size: 14px;
}

.info-section {
  padding-bottom: 94px;
}

.info-text-portfolio {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
  padding-left: 24px;
  padding-bottom: 20px;
  
}

.info {
  padding-top: 94px;
  padding-bottom: 118px;
}

.info-item1::before {
content: "";
display: block;
background-image: url();
border-radius: 4px;
background: #F5F4FA;
background-size: 100px;
width: 100%;
height: 100px;

}

.info-item2::before {
  content: "";
  display: block;
  background-image: url();
  border-radius: 4px;
  background: #F5F4FA;
  background-size: 100px;
  width: 100%;
  height: 100px;
  
  }

  .info-item3::before {
    content: "";
    display: block;
    background-image: url();
    border-radius: 4px;
    background: #F5F4FA;
    background-size: 100px;
    width: 100%;
    height: 100px;
    
    }

    .info-item4::before {
      content: "";
      display: block;
      background-image: url();
      border-radius: 4px;
      background: #F5F4FA;
      background-size: 100px;
      width: 100%;
      height: 100px;
      
      }

.info-list {
  flex-basis: calc((100% - 60px) / 3);
  border-radius: 3px;
  /* box-shadow: 1px 2px 2px black; */
  outline: 1px solid rgb(216, 216, 216);
}

.work {

  padding-bottom: 94px;
}

.work-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.work-list{
  display: flex;
  gap: 30px;
}

.work-photo1 {
  width: 370px;
  height: 294px;
}

.work-photo2 {
  width: 370px;
  height: 294px;
}

.work-photo3 {
  width: 370px;
  height: 294px;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
}


.team-item {
  border-radius: 4px;
  background-color: #ffffff;
}

.team-list{
  display: flex;
  gap: 30px;
  margin-top: 50px;
  background-color: #F5F4FA;

}

.team-photo1 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),

}

.team {
  padding-bottom: 94px;
  background-color: #F5F4FA;
  padding-top: 94px;
}

.team-photo2 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
  

}

.team-photo3 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
  

}

.team-photo4 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
  

}



.photo-title {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
margin-top: 30px;
margin-bottom: 10px;

}

.photo-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: center;
  padding-bottom: 30px;
}

.footer-text {
  color:var(--blue-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Raleway";
}

.footer-logo {
  padding-top: 60px;
}

.footer-address {
  width: 231px;
  height: 21px;
  color: var(--hero-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.42px;
  padding-top: 9px;

}

.footer-section {
  padding-top: 60px;
}

.footer-contact1 {
  width: 231px;
  height: 21px;
  color: rgba(164, 164, 164, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  padding-top: 9px;
}

.footer-list{
text-align: start;
}

.footer-color {
  background-color: #2f303a;
  height: 252px;
  width: 1600px;
}

.connection{
  padding-top: 9px;
}

.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid red; */
}

