body{
  font-family: "Roboto";
}

.header-logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Raleway";
}


.header-link {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link1 {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contact {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contact1 {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.hero {
  background-color: #2f303a;
  background-size: contain;
}

.hero-title {
  width: 696px;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  color: #fff;
  width: 216px;
  height: 50px;
  border-radius: 6px;
  background: #2196f3;
  cursor: pointer;
}

.info-title {
  width: 270px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info-text {
  width: 270px;
  height: 72px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;

}

.work-photo1 {
  width: 370px;
  height: 294px;
}

.work-photo2 {
  width: 370px;
  height: 294px;

}

.work-photo3 {
  width: 370px;
  height: 294px;
}

.team-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center
}

.team-photo1 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),

}

.team-photo2 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
  

}

.team-photo3 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
  

}

.team-photo4 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
  

}

.photo-title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
}

.photo-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.footer-text {
  color:#2196f3;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Raleway";
}

.footer-address {
  width: 231px;
  height: 21px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-contact {
  width: 231px;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-contact1 {
  width: 231px;
  height: 21px;
  color: rgba(164, 164, 164, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-color {
  background-color: #2f303a;
}

.main-button1 {
  width: 47px;
  background: #fff;
  align-items: center;
  width: 73px;
  height: 38px;
  border-radius: 4px;
  background: #2196f3;
}

.main-button {
  width: 125px;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
}

.info-img {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.info-img2 {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>),
    lightgray 0px -45.881px / 100% 182.783% no-repeat;
}

.info-title {
  width: 322px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.info-text-portfolio {
  width: 322px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid red;
}