.header-logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Raleway";
}

.header-link {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-family: "Roboto";
}

.header-link1 {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contact {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-family: "Roboto";
}

.header-contact1 {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-family: "Roboto";
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  width: 696px;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  font-family: "Roboto";
}

.hero-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  flex-shrink: 0;
  font-family: "Roboto";
}

.info-title {
  width: 270px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  font-family: "Roboto";
}

.info-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-family: "Roboto";
}

.work-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  font-family: "Roboto";
}

.work-photo1 {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  flex-shrink: 0;
}

.work-photo2 {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  flex-shrink: 0;
}

.work-photo3 {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  flex-shrink: 0;
}

.team-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  font-family: "Roboto";
}

.team-photo1 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
    lightgray -86.437px -3.457px / 196.208% 136.002% no-repeat;
  flex-shrink: 0;
}

.team-photo2 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
    lightgray -40.687px -0.224px / 175.271% 121.356% no-repeat;
  flex-shrink: 0;
}

.team-photo3 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
    lightgray -227.68px -8.844px / 193.508% 134.131% no-repeat;
  flex-shrink: 0;
}

.team-photo4 {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>),
    lightgray -74.896px 0px / 152.119% 105.326% no-repeat;
  flex-shrink: 0;
}

.photo-title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  font-family: "Roboto";
}

.photo-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: center;
  font-family: "Roboto";
}

.basement-text {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Raleway";
}

.basement-address {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.basement-contact {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-family: "roboto";
}

.basement-contact1 {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-family: "Roboto";
}

.footer-color {
  background-color: #2f303a;
}

.main-button1 {
  width: 47px;
  overflow: hidden;
  background: #fff;
  font-family: "roboto";
  justify-content: center;
  align-items: center;
  gap: 94px;
  width: 73px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background: #2196f3;
}

.main-button {
  width: 125px;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
  flex-shrink: 0;
  font-family: "roboto";
}

.info-img {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  flex-shrink: 0;
}

.info-img2 {
  width: 370px;
  height: 294px;
  background: url(<path-to-image>),
    lightgray 0px -45.881px / 100% 182.783% no-repeat;
}

.info-title {
  width: 322px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  font-family: "Roboto";
}

.info-text-portfolio {
  width: 322px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  font-family: "Roboto";
}

