ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Roboto";
  max-width: 1600px;
}

.container {
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid red; */
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.footer__icon14, .footer__icon13, .footer__icon12, .footer__icon11 {
  top: 1774px;
  position: absolute;
}

.footer__input, .footer__button, .footer__icons, .footer__contact2:focus, .footer__contact2:hover, .footer__contact:focus, .footer__contact:hover, .hero__button, .header__svg, .header__contact1, .header__link2::after, .header__link1 {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon4, .footer__icon3, .footer__icon2, .footer__icon1 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 108px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 1px 0px 0px #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
  }
}
.header__logo {
  color: #2196f3;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  font-family: "Raleway";
}
.header__link1 {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  justify-content: flex-end;
  display: none;
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .header__link1 {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__link1 {
    display: block;
  }
}
.header__link1:hover {
  color: #2196f3;
}
.header__bicons {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: -6px;
}
@media screen and (min-width: 780px) {
  .header__bicons {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__bicons {
    display: none;
  }
}
.header__link2::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  margin-top: 20px;
  display: block;
  opacity: 0;
  transition-property: opacity;
}
.header__link2:hover::after {
  opacity: 1;
}
.header__contact {
  align-items: none;
  justify-content: center;
  display: flex;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: block;
  }
}
.header__contacts {
  align-items: center;
  justify-content: none;
  display: flex;
  gap: 9px;
  margin-left: 94px;
  flex-wrap: wrap;
  margin-bottom: 11px;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    margin-left: 341px;
  }
}
.header__logo-span1 {
  color: #ffffff;
}
.header__contact1 {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition-property: color;
}
.header__contact1:hover {
  color: #2196f3;
}
.header__logo-span {
  color: #212121;
}
.header__pages {
  align-items: center;
  justify-content: none;
  display: flex;
  gap: 50px;
  margin-left: 93px;
  opacity: 0;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .header__pages {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .header__pages {
    opacity: 1;
  }
}
.header__container {
  align-items: none;
  justify-content: center;
  display: flex;
  position: relative;
}
.header__svg {
  fill: #757575;
  cursor: pointer;
  transition-property: fill;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .header__svg {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .header__svg {
    opacity: 1;
  }
}
.header__svg:hover {
  fill: #2196f3;
}
.header__svg:focus {
  fill: #2196f3;
}
.header__icons {
  width: 16px;
  height: 12px;
}

.hero {
  padding-top: 94px;
}
.hero__pages {
  align-items: none;
  justify-content: center;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
@media screen and (min-width: 780px) {
  .hero__pages {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__pages {
    display: flex;
    justify-content: center;
  }
}
.hero__info {
  align-items: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.hero__button {
  width: 107px;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
  transition-property: background-color, color, box-shadow;
  font-size: 16px;
  font-weight: 500;
}
.hero__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.port {
  margin-top: 50px;
  margin-bottom: 94px;
}
@media screen and (min-width: 780px) {
  .port {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.port__thumb {
  position: relative;
  overflow: hidden;
}
.port__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.port__overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 322px;
}
.port__link:hover .port__overlay, .port__link:focus .port__overlay {
  transform: translateY(0);
}
.port__list {
  background-color: #ffffff;
  align-items: center;
  justify-content: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 780px) {
  .port__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .port__list {
    display: flex;
    justify-content: center;
  }
}
.port__wrap {
  padding: 0 24px 20px;
  margin-top: 20px;
}
.port__item {
  border: 1px solid rgb(226, 226, 226);
  background: #ffffff;
  flex-basis: calc((100% - 90px) / 3);
}
@media screen and (min-width: 780px) {
  .port__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .port__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.port__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port__link:focus {
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port__link:focus .port__art {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port__name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08px;
}
.port__work {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.text-background {
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: none;
  display: flex;
  padding: 63px 24px;
}

.footer {
  padding-top: 60px;
  position: relative;
  padding-left: 15px;
}
.footer__text {
  color: #2196f3;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  font-family: "Raleway";
  width: 154px;
  display: flex;
  justify-content: center;
}
.footer__list {
  padding-left: 140px;
}
.footer__logo {
  padding-top: 60px;
}
.footer__address {
  width: 232px;
  height: 21px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
}
.footer__contact {
  width: 232px;
  height: 21px;
  color: rgba(164, 164, 164, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer__contact:hover {
  color: #afb1b8;
  transition-property: color;
}
.footer__contact:focus {
  color: #afb1b8;
  transition-property: color;
}
.footer .connect {
  margin-bottom: 9px;
  margin-top: 9px;
}
.footer__contact2 {
  width: 232px;
  height: 21px;
  color: rgba(164, 164, 164, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer__contact2:hover {
  color: #afb1b8;
  transition-property: color;
}
.footer__contact2:focus {
  color: #afb1b8;
  transition-property: color;
}
.footer__color {
  background-color: #2f303a;
  width: 100%;
  height: 603px;
}
@media screen and (min-width: 780px) {
  .footer__color {
    width: 100%;
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__color {
    width: 1600px;
    height: 252px;
  }
}
.footer__icon {
  display: flex;
  gap: 34px;
}
.footer__joining {
  font-size: 14px;
  position: absolute;
  left: 516px;
  top: 72px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.42px;
  width: 146px;
}
.footer__icon1 {
  left: 515px;
}
.footer__icon2 {
  left: 570px;
}
.footer__icon3 {
  left: 624px;
}
.footer__icon4 {
  left: 678px;
}
.footer__joining2 {
  color: #ffffff;
  position: absolute;
  top: 1729px;
  left: 516px;
}
.footer__icon11 {
  left: 528px;
}
.footer__icon12 {
  left: 582px;
}
.footer__icon13 {
  left: 636px;
}
.footer__icon14 {
  left: 690px;
}
.footer__icons {
  fill: #ffffff;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-property: background-color, border-radius;
}
.footer__icons:hover {
  background-color: #2196f3;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.footer__form-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  position: absolute;
  top: 365px;
  right: 140px;
}
@media screen and (min-width: 780px) {
  .footer__form-svg {
    position: absolute;
    left: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-svg {
    position: absolute;
    top: 121px;
    left: 1359px;
  }
}
.footer__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  margin-left: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  transition-property: background-color;
  position: absolute;
  bottom: -60px;
  left: 140px;
}
@media screen and (min-width: 780px) {
  .footer__button {
    position: absolute;
    left: 288px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__button {
    position: absolute;
    top: 108px;
    left: 1185px;
    width: 200px;
    height: 50px;
  }
}
.footer__button:hover {
  background-color: #1f80cf;
}
.footer__form-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: block;
  padding-left: 140px;
  margin-top: 60px;
}
@media screen and (min-width: 780px) {
  .footer__form-text {
    left: 170px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-text {
    position: absolute;
    bottom: 105px;
    left: 680px;
  }
}
.footer__input {
  width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 149, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 15px;
  margin-top: 20px;
  transition-property: background-color;
}
@media screen and (min-width: 780px) {
  .footer__input {
    margin-top: 100px;
    margin-left: 170px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    position: absolute;
    top: 108px;
    left: 815px;
    margin: 0;
    width: 358px;
    height: 50px;
  }
}
.footer__input:hover {
  background-color: g;
}/*# sourceMappingURL=portfolio.css.map */