.port {
    margin-top: 50px;
    margin-bottom: 94px;

    &__thumb {
      position: relative;
      overflow: hidden;
    }
    &__overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: $bl-background;
    }
    &__overlay-text {
      font-size: 18px;
      line-height: calc(28 / 18);
      letter-spacing: 0.03em;
    color: $hero-title;
      width: 322px;
    }
    &__link:hover .port__overlay,
    &__link:focus .port__overlay {
      transform: translateY(0);
    }
    &__list {
      background-color: $background-color;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    &__wrap {
      padding: 0 24px 20px;
      margin-top: 20px;
    }
    &__item {
      border: 1px solid rgb(226, 226, 226);
      background: $background-color;
      flex-basis: calc((100% - 90px) / 3);
    }
    &__item:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:focus {
      outline: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:focus &__art {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__name {
      color: $text-color;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.08px;
    }
    &__work {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.87;
      letter-spacing: 0.48px;
    }
    
    
  }

  .text-background {
      background-color: rgba(33, 150, 243, 0.90);
      width: 370px;
      height: 294px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
  
      padding: 63px 24px;
  }