.footer {
  padding-top: 60px;
  position: relative;
padding-left: 15px;
padding-right: 15px;
  &__text {
    color: $blue-color;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    font-family: "Raleway";
    width: 154px;
    display: flex;
justify-content: center;

  }

&__list{
  padding-left: 140px;
}

  &__logo {
    padding-top: 60px;
  }

  &__address {
    width: 232px;
    height: 21px;
    color: $hero-title;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
  }

  &__contact {
    width: 232px;
    height: 21px;
    color: rgba(164, 164, 164, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
  }

  &__contact:hover {
    color: $border-color;
    transition-property: color;
    @extend %trandit;
  }

  &__contact:focus {
    color: $border-color;
    transition-property: color;
    @extend %trandit;
  }

  .connect {
    margin-bottom: 9px;
    margin-top: 9px;
  }

  &__contact2 {
    width: 232px;
    height: 21px;
    color: rgba(164, 164, 164, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
  }

  &__contact2:hover {
    color: $border-color;
    transition-property: color;
    @extend %trandit;
  }

  &__contact2:focus {
    color: $border-color;
    transition-property: color;
    @extend %trandit;
  }

  &__color {
    background-color: #2f303a;
    width: 100%;
    height: 603px;
    @media screen and (min-width: 780px){
     
    }
    @media screen and (min-width: 1200px){
      
      height: 252px;
    }
  }

  &__icon {
    display: flex;
    gap: 34px;
  }

  &__joining {
    font-size: 14px;
    position: absolute;
    left: 200px;
    top: 240px;
    color: $hero-title;
    font-weight: 700;
    letter-spacing: 0.42px;

    width: 146px;
@media screen and (min-width:780px){
  position: absolute;
  left: 503px;
  top: 65px;
}
@media screen and (min-width:1200px){
 left: 490px;
}
  }

  &__icon1 {
    top: 295px;
    left: 149px;
@extend %icons-style;
@media screen and (min-width:780px){
  position: absolute;
  left: 485px;
  top: 113px;
}
  }

  &__icon2 {
    top: 295px;
    left: 203px;
@extend %icons-style;
@media screen and (min-width:780px){
  position: absolute;
  left: 539px;
  top: 113px;
}
  }

  &__icon3 {
    top: 295px;
    left: 257px;
@extend %icons-style;
@media screen and (min-width:780px){
  position: absolute;
  left: 593px;
  top: 113px;
}
  }

  &__icon4 {
top: 295px;
    left: 311px;
@extend %icons-style;
@media screen and (min-width:780px){
  position: absolute;
  left: 647px;
  top: 113px;
}
  }

  &__joining2 {
    color: $hero-title;
    position: absolute;
    top: 1729px;
    left: 516px;
  }

  &__icon11 {

    @extend %icons-top;
    left: 528px;
  }

  &__icon12 {

    @extend %icons-top;
    left: 582px;
  }

  &__icon13 {

    @extend %icons-top;
    left: 636px;
  }

  &__icon14 {

    @extend %icons-top;
    left: 690px;
  }

  &__icons {
    fill: $hero-title;

    width: 22px;
    height: 22px;
@include flex-box();

    transition-property: background-color, border-radius;
    @extend %trandit;
  }

  &__icons:hover {
    background-color: $blue-color;
    border-radius: 50%;
    width: 22px;
    height: 22px;

  }

  &__form-svg {
    width: 24px;
    height: 24px;
    fill: $hero-title;
    position: absolute;
    top: 504px;
    right: 45px;
@media screen and (min-width:480px){
  position: absolute;
  right: 150px;
  top: 505px;
}

    @media screen and (min-width: 780px){
      position: absolute;
   left: 460px;

      }
      @media screen and (min-width: 1200px){
        position: absolute;
top: 121px;
  left: 1223px;
        }
  }

  &__button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $blue-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $hero-title;
    margin-left: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;
    transition-property: background-color;
    @extend %trandit;
    position: absolute;
    bottom: -60px;
    left:140px ;
    @media screen and (min-width: 780px){
    position: absolute;
    left: 288px;
    }
    @media screen and (min-width: 1200px){
      position: absolute;
      top: 108px;
      left: 1050px;
      width: 200px;
height: 50px;
      }
  }

  &__button:hover {
    background-color: $bl-background;
  }

  &__form-text {
    color: $hero-title;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: block;
    padding-left: 140px;
    margin-top: 200px;
    @media screen and (min-width: 780px){
      left: 170px;
      position: absolute;
      margin-top: 60px;
    }
    @media screen and (min-width: 1200px){
      position: absolute;
      bottom: 105px;
      left: 560px;
    }
  }
 
  &__input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 149, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 15px;
    margin-top: 20px;
    transition-property: background-color;
    @extend %trandit;
    @media screen and (min-width: 780px){
      margin-top: 100px; 
      margin-left: 170px;
      width: 450px;
      
    }
    @media screen and (min-width: 1200px){
      position: absolute;
      top: 108px;
      left: 697px;
      margin: 0;
      width: 358px;
      height: 50px;
    }
  }

  &__input:hover {
    background-color: g;
  }

  // &__form {
  //   position: absolute;
  //   right: 215px;
  //   top: 72px;
  // }
}
