.header {
    padding-top: 20px;
    box-shadow: 0px 1px 0px 0px #ececec;
  
    &__logo {
      color: $blue-color;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.78px;
      font-family: "Raleway";
    }
  
    &__link1 {
      color: $title-color;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.28px;
      justify-content: flex-end;
      display: block;
      transition-property: color;
      @extend %trandit;
    }
  
    &__link1:hover {
      color: $blue-color;
    }
  
    &__link2::after {
      content: "";
      border-radius: 2px;
      background-color: $blue-color;
      width: 100%;
      height: 4px;
      margin-top: 20px;
      display: block;
      opacity: 0;
      transition-property: opacity;
      @extend %trandit;
    }
  
    &__link2:hover::after {
      opacity: 1;
    }
  
    &__contact {
      @include flex-box($align: none);
    }
  
    &__contacts {
      @include flex-box($justify: none);
      gap: 9px;
      margin-left: 345px;
      flex-wrap: wrap;

      margin-bottom: 11px;
    }
  
    &__logo-span1 {
      color: $hero-title;
    }
  
    &__contact1 {
      color: $text-color;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.28px;
      transition-property: color;
      @extend %trandit;
    }
    &__contact1:hover {
      color: $blue-color;
    }
  
    &__logo-span {
      color: $title-color;
    }
  
    &__pages {
      @include flex-box($justify: none);
      gap: 50px;
      margin-left: 93px;

      margin-top: 10px;
    }
  
    &__container {
      @include flex-box($align: none, $justify: none);
      position: relative;
    }
  
    &__svg {
      fill: $grey-color;
      cursor: pointer;
      transition-property: fill;
      @extend %trandit;
    }
  
    &__svg:hover {
      fill: $blue-color;
    }
  
    &__svg:focus {
      fill: $blue-color;
    }
  
    &__icons {
      width: 16px;
      height: 12px;
    }
  }