
@mixin  margin-auto() {
    margin-left: auto;
    margin-right: auto;
}
@mixin  flex-box($align: center, $justify: center) {
    align-items: $align;
    justify-content: $justify;

    display: flex;
}
@mixin  title_inf() {
    font-weight: 700;
    letter-spacing: 1.08px;
}

