.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
    url(../images/hero-backround.png);
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  padding-top: 200px;

  &__title {
    width: 696px;
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: flex;
    max-width: 698px;
    text-align: center;
  }

  &__title {
    display: inline-block;
    margin: 0 0.5rem;

    animation-duration: 2s; /* don't forget to set a duration! */
  }

  &__button {
    color: $hero-title;
    width: 216px;
    height: 50px;
    border-radius: 6px;
    background: $blue-color;
    cursor: pointer;
    margin-top: 30px;
@include margin-auto;
    display: flex;
@include align-justify_center;
    transition-property: background-color;
    @include tranditions;
  }

  &__button:hover {
    background-color: #56abf1;
  }
}
