.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
    url(../images/hero-backround.png);
    @include flex-box($align: none);
  padding-bottom: 200px;
  padding-top: 200px;
background-repeat: no-repeat;

  &__title {
    width: 360px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    @include flex-box();
    max-width: 698px;
    text-align: center;
    
    @media screen and (min-width: 1200px){
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__title {
    margin-left: auto;
    margin-right: auto;

    animation-duration: 2s;
  }

  &__button {
    color: $hero-title;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $blue-color;
    cursor: pointer;
    margin-top: 30px;
@extend %margin-auto;
@media screen and (min-width: 1200px){
  width: 216px;

}
    @include flex-box();
    transition-property: background-color;
    @extend %trandit;
  }

  &__button:hover {
    background-color: #56abf1;
  }
}
