.info {
  padding-top: 94px;
  padding-bottom: 118px;

  &__item1::before {
    content: "";
    display: block;
    background: $item-color;
    background-image: url(../images/antenna.svg);
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
  }
  &__item2::before {
    content: "";
    display: block;
    background: $item-color;
    background-image: url(../images/clock.svg);
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
  }
  &__item3::before {
    content: "";
    display: block;
    background: $item-color;
    background-image: url(../images/diagram.svg);
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
  }
  &__item4::before {
    content: "";
    display: block;
    background: $item-color;
    background-image: url(../images/astronaut.svg);
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
  }

  &__list1 {
    @include flex-box($align: none, $justify: none);
    gap: 20px;
  }

  &__text {
    width: 270px;
    height: 72px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;

    @include flex-box($align: baseline, $justify: none);
  }

  &__img {
    height: 294px;
  }

  &__title1 {
    color: $title-color;

    line-height: 36px;
@include  title_inf();
    padding-top: 20px;
    font-size: 18px;
    padding-left: 24px;
    text-align: left;
  }

  &__title {
    color: $title-color;
@include title_inf();
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__section {
    padding-bottom: 94px;
  }

  &__text-portfolio {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
    padding-left: 24px;
    padding-bottom: 20px;
    margin-top: 4px;
  }

  &__svg {
    width: 70px;
    height: 70px;
  }
}
