.team {
  padding-bottom: 94px;
  background-color: $item-color;
  padding-top: 94px;

  &__title {
    color: $title-color;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__item {
    width: 450px;
    height: 622px;
    border-radius: 4px;
    background-color: $background-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 42px;
    
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 536px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 428px;
    }
  }

  &__clist {
    @include flex-box($align: none);
    gap: 12px;
  }

  &__photo1 {
    width: 450px;
    height: 460px;
    background: url(<path-to-image>);
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__photo2 {
    width: 450px;
    height: 460px;
    background: url(<path-to-image>);
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__photo3 {
    width: 450px;
    height: 460px;
    background: url(<path-to-image>);
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__photo4 {
    width: 450px;
    height: 460px;
    background: url(<path-to-image>);
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__ctitle {
    color: $title-color;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__ctext {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 30px;
  }
  &__icons {
    fill: rgba(175, 177, 184, 1);
    width: 44px;
    height: 44px;
    @include flex-box();
    transition-property: fill, background-color, border-radius;
    @extend %trandit;
  }

  &__icons:hover {
    fill: $hero-title;
    background-color: $blue-color;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}
