.work {
  display: none;
  @media screen and (min-width: 1200px){
    display: block;
  }
  /* padding-bottom: 94px; */
  position: relative;

  &__title {
    color: $title-color;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__text {
    display: flex;
    color: $hero-title;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;
  }

  &__position {
    position: absolute;
    bottom: 0;
  }

  &__position2 {
    position: absolute;
    bottom: 0;
  }

  &__position3 {
    position: absolute;
    bottom: 0;
  }
}
